/*		timetable tab*/
			.MainTimeTableCont{
				width: 100%;
				height: 100%;
				display: none;
				position: absolute;
				font-size: 62.5%;
			  font-size: 1rem;
			  font-family: "Source Sans Pro", sans-serif;
			  color: #222222;
/*			  background-color: white;*/
			  overflow: auto;
			}

			.TimeTableHeading{
				width: 40%;
			    margin-top: 1%;
			    height: 12%;
			    display: inline-block;
			    position: absolute;
			    top: 3%;
			    margin-left: 30%;
			    font-size: 4em;
			    text-align: center;
			    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.5);
			}

			.SetStreamsButton{
				transition: 500ms;
				border-left: 0.0001em solid rgba(0,0,0,0);
				cursor: pointer;
				width: 22%;
			    margin-top: 5%;
			    height: 5%;
			    display: inline-block;
			    position: absolute;
			    top: 3%;
			    margin-left: 75%;
			    font-size: 1.5em;
			    text-align: center;
			    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.5);
			}

			.SetStreamsButton:hover {
				transition: 500ms;
				border-left: 1em solid rgba(0,0,0,0);
			}


			#SetStreamIcon{
				top: 6%;
				left: -4%;
				transform: scale(1,1);
				color: black;
				display: inline-block;
				cursor: pointer;
				transition: 200ms;
			}


			.StreamConfigOptions{
				font-family: 'Quattrocento';
				display: none;
				z-index: 106;
				position: fixed;
				background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
				width: 100%;
				height: 100%;
				overflow: auto;
				top: 0%;
			}

			.StreamConfigTitle{
				width: 100%;
				color: white;
				background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
			    display: inline-block;
			    position: absolute;
			    padding: 1%;
			    top: 5%;
			    font-size: 3em;
			    text-align: center;
			}


			.StreamAddBox{
				padding-top:1.5%;
				padding-right: 2%;
				padding-bottom: 2%;
				border-radius: 0.4em;
				width: 30%;
				top: 20%;
				left: 35%;
				position: absolute;
				display: inline-block;
				background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);

			}

			.StreamNameLabel,.StreamDayLabel,.StreamStartLabel,.StreamEndLabel,.StreamSeatLabel,.StreamSubjectLabel{
				margin-top: 3%;
				padding-right: 5%;
			    display: inline-block;
			    float: left;
			    position: relative;
			    color: #afb1be;
			    width: 55%;
			    outline: none;
			    font-size: 1em;
			    text-align: center;
			    transition: 500ms;
			    box-shadow: none;
			}

		.StreamInput{
			margin-top: 3%;
			margin-bottom: 2%;
			    display: inline-block;
			    float: left;
			    position: relative;
			    color: #afb1be;
			    width: 45%;
			    background: black;
			    border-radius: 1em;
			    outline: none;
			    border: 0.1vw solid black;
			    font-size: 1em;
			    text-align: center;
			    transition: 500ms;
			    box-shadow: none;
		}

		.StreamDaySelect, .StreamStartTime, .StreamEndTime, .StreamSubjectSelect{
			width: 40%;
			    display: inline-block;
			    position: relative;
			    margin-right: 2%;
			    margin-left: 2%;
			    margin-top: 3%;
			    margin-bottom: 2%;
			    padding: 2%;
			    font-size: 1em;
			    text-align: center;
			    transition: 500ms;
			    background-color: beige;
		}

		.AddNewStream{
				margin-top: 3%;
			    display: inline-block;
			    cursor: pointer;
			    background-color: black;
			    float: left;
			    position: relative;
			    color: #afb1be;
			    margin-left:8%;
			    padding-top: 2%;
			    padding-bottom: 2%;
			    width: 91%;
			    font-size: 1em;
			    text-align: center;
			    transition: 500ms;
		}

		#AddStreamIcon{
			position: relative;
			left: 25%;
				transform: scale(1.4,1.4);
				color: white;
				display: inline-block;
				cursor: pointer;
				transition: 500ms;
		}

		.AddNewStream:hover{
			color: gray;
			transition: 500ms;
		}

		.AddNewStream:hover #AddStreamIcon{
			color: gray;
			transition: 500ms;
		}

		.CurrentStreamsTitle{
				width: 100%;
				color: white;
				background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
			    display: inline-block;
			    position: absolute;
			    padding: 1%;
			    top: 70%;
			    font-size: 1.5em;
			    text-align: center;
		}


		.StreamBox{
			border-radius: 0.4em;
			    width: 80%;
			    margin-left: 8%;
			    display: inline-block;
			    overflow: auto;
			    position: absolute;
			    margin-bottom: 5%;
			    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
			    padding-top: 1%;
			    padding-bottom: 2%;
			    top: 80%;

		}

		.StreamConfig{
				color: white;
				width: 90%;
				display: inline-block;
				padding-top: 2%;
				padding-left: 2%;
				padding-right: 2%;
				background: black;
				position: relative;
				margin-top:2%;
				padding-bottom: 2%;
				left: 5%;
		}

		.TimingsStream{
			float: left;
		}

		.SeatVacancyStream{
			float: right;
		}

		#DeleteStream{
			float: right;
			padding-left: 2%;
			margin-top:0.3%;
			transform: scale(1.3,1.3);
			color: white;
			display: inline-block;
			cursor: pointer;
			transition: 500ms;
		}

		#DeleteStream:hover{
			transition: 500ms;
			color: gray;
		}

		#StreamConfigCloseIcon{
			margin-top: 0.8%;
			margin-right: 1%;
			float: right;
			transform: scale(1.2,1.2);
			color: white;
			display: inline-block;
			cursor: pointer;
			transition: 500ms;
		}

		#StreamConfigCloseIcon:hover{
			transition: 500ms;
			color: gray;
		}













