/*		header*/
			.Header{
				top: -7em;
				font-family: 'Cinzel';
			    padding-top: 7em;
			    width: 100%;
			    display: inline-block;
			    font-size: 0.9em;
			    height: 6%;
			    position: fixed;
			    background-color: black;
			    overflow: hidden;
			    z-index: 101;
			}

			.LeftHeader_Cont{
				z-index: 101;
			    font-weight: bold;
			    bottom: 6%;
			    left: 2%;
			    position: absolute;
			    display: inline-block;
			    color: white;
			    padding: 0.2%;
			    padding-right: 2.5%;
			    transition: 200ms;
			}

			.LogIn {
			    z-index: 101;
			    font-weight: bold;
			    position: relative;
			    display: inline-block;
			    color: white;
			    float: left;
			    transition: 200ms;
			}

			.SignUp {
			    z-index: 101;
			    font-weight: bold;
			    float: left;
			    padding-left: 1em;
			    position: relative;
			    display: inline-block;
			    color: white;
			    transition: 200ms;
			}


			.GamescendLogo{
			    z-index: 101;
			    font-weight: bold;
			    bottom: 6%;
			    left: 93%;
			    position: absolute;
			    display: inline-block;
			    color: white;
			    width: 5%;
			    padding: 0.2%;
			    padding-right: 0.5%;
			    transition: 200ms;
			}

			.SignUp:hover, .LogIn:hover{
				cursor: pointer;
				color: gray;
				font-weight: bolder;
				transition: 200ms;
			}