			html {
			  margin: 0;
			  height: 100%;
			  padding: 0 !important;
			  background-color: rgb(10,14,17);
			}
			 

			body {
				margin: 0;
			    height: 100%;
			    background-color: rgb(10,14,17);
			    font-family: 'Cinzel';
				background: url("https://i.imgur.com/GuDU01B.jpg");
			    background-size: 100% 100%;
			    background-position: center;
			    background-repeat: no-repeat;
			}

		/*scrollbar stuff*/

			::-webkit-scrollbar {
			    width: 0.2%;
			    height: 70%;
			    margin: 0 auto;
				background-color: rgba(255, 0, 0, 0.1);
			   
			}
			::-webkit-scrollbar-thumb {
			    height: 6px;
			    border: 1px solid rgba(0, 0, 0, 0.9);
			    background-clip: padding-box;
			    -webkit-border-radius: 15px;
			    background-color: rgba(0, 0, 0, 0.5);
			    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
			}

			::-webkit-scrollbar-thumb:hover {
			    height: 6px;
			    background-clip: padding-box;
			    -webkit-border-radius: 15px;
			    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
			}


			::-webkit-scrollbar-button {
			    width: 0;
			    height: 0;
			    display: none;
			}

			::-webkit-scrollbar-corner {
			    background-color: transparent;
			   }



.DoubleCheckBox{
	position: fixed;
	width: 30%;
	display: inline-block;
	padding-bottom: 1%;
	top: 25%;
	left: 33%;
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    z-index: 107;
    border-radius: 0.7em;
}


.MainText{
	width: 100%;
	text-align: center;
	padding: 4%;
	padding-top: 6%;
	color: white;
	font-family: 'Quattrocento';
	font-size: 1em;
	float: left;
	position: relative;
	display: inline-block;
}


.YesButton{
	margin-left: 13%;
	cursor: pointer;
	width: 35%;
	float: left;
	position: relative;
	background-color: black;
	text-align: center;
	padding: 2%;
	color: white;
	font-family: 'Quattrocento';
	font-size: 1.2em;
	border-radius: 0.3em;
		transition: 500ms;
}


.NoButton{
	margin-left: 5%;
	transition: 500ms;
	cursor: pointer;
	width: 35%;
	float: left;
	position: relative;
	background-color: black;
	text-align: center;
	padding: 2%;
	color: white;
	border-radius: 0.3em;
	font-family: 'Quattrocento';
	font-size: 1.2em;
}

.YesButton:hover, .NoButton:hover{
	transition: 500ms;
	color: black;
	background-color: white;
}






