

.searchCont{
  position: absolute;
  display: inline-block;
  width: 25%;
  top: 7%;
  padding: 1%;
  margin-left: 3%;
  font-family: 'Quattrocento';
}

.searchInput{
  font-size: 1em;
  width: 80%;
  float: left;
  background: black;
  border: 1px solid black;
  color: white;
  padding: 2.5%;
  font-family: 'Quattrocento';
}

.searchButton{
  font-size: 100%;
  text-align: center;
  width: 19%;
  float: right;
  cursor: pointer;
  background: black;
  color: white;
  padding: 2%;
  transition: 400ms;
}

.searchButton:hover{
  transition: 400ms;
  background: beige;
  color: black;
}